html body {
  height: auto;
  padding-bottom: 24px; }

/* ---------- Bottom dock ---------- */
.chat-bar {
  background: #e5e5e5 url(../images/btm-dock_bg.png) repeat-x;
  border: 1px solid #B5B5B5;
  border-bottom-width: 0;
  bottom: 0;
  height: 24px;
  left: 15px;
  position: fixed;
  right: 15px;
  z-index: 1000; }
  .chat-bar .status-message, .chat-bar .trigger-name {
    text-shadow: 1px 1px white; }

.chat-sound {
  position: absolute; }

.chat-status {
  float: left; }

/* ---------- Bottom dock tabs ---------- */
.chat-bar {
  /* ---------- Bottom dock popups ---------- */ }
  .chat-bar div ul, .chat-bar div ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative; }
  .chat-bar div ul li .panel-trigger {
    border-left: 1px solid #B5B5B5;
    border-right: 1px solid #E0E0E0;
    color: #111;
    cursor: pointer;
    float: left;
    font: bold 11px/24px Tahoma, Geneva, sans-serif;
    padding: 0 6px;
    text-decoration: none; }
    .chat-bar div ul li .panel-trigger:hover {
      background: #FFF; }
    .chat-bar div ul li .panel-trigger .unread {
      background: url(../images/unread-messages.png);
      color: #FFF;
      font: bold 10px/16px Arial, Helvetica, sans-serif;
      height: 16px;
      position: absolute;
      right: -4px;
      text-align: center;
      top: -6px;
      width: 16px;
      z-index: 30; }
  .chat-bar div ul li.selected .panel-trigger {
    background: #FFF;
    border: solid #262626;
    border-width: 0 1px 1px;
    height: 25px;
    line-height: 27px;
    margin: -2px 0 -1px;
    position: relative;
    z-index: 30; }
    .chat-bar div ul li.selected .panel-trigger .unread {
      right: -5px;
      top: -4px; }
  .chat-bar div ul li.typing .panel-trigger {
    padding-left: 24px; }
  .chat-bar .chat-tabs li {
    float: right; }
  .chat-bar .chat-panel {
    bottom: 24px;
    display: none;
    position: absolute;
    right: 0;
    z-index: 20; }
  .chat-bar .selected .chat-panel {
    display: block; }

/* ---------- Typing status ---------- */
.typing-status {
  background: url(../images/typing.png) no-repeat 0 0;
  display: none;
  float: left;
  height: 16px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 16px; }

.selected .typing-status {
  top: 6px; }

.typing .typing-status {
  display: block; }

/* ---------- Online users ---------- */
.buddy-list .field.search-buddies {
  padding-right: 2px; }
.buddy-list.loading.selected .chat-panel .panel-window .panel-content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3; }
  .buddy-list.loading.selected .chat-panel .panel-window .panel-content li:hover {
    background: none;
    border-color: transparent;
    cursor: default; }
.buddy-list.loading.selected .panel-trigger .trigger-name {
  background: url(@theme_image_path@/application/loading_indicator.gif) no-repeat 0 0;
  padding: 2px 0 2px 20px; }
.buddy-list .panel-content {
  list-style-type: none;
  margin: 0;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2px 0; }
  .buddy-list .panel-content .online-users li {
    border: 1px solid #FFF;
    cursor: pointer;
    float: left;
    height: 24px;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    width: 212px; }
  .buddy-list .panel-content li.idle {
    height: 14px; }
  .buddy-list .panel-content li:hover {
    background: #F3F3F3;
    border-color: #DDD; }
  .buddy-list .panel-content div {
    font: 12px/24px Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .buddy-list .panel-content img {
    background: #333;
    display: block;
    float: left;
    height: 24px;
    margin: 0 6px 0 0;
    width: 24px; }
  .buddy-list .panel-content .idle div {
    line-height: 14px; }
  .buddy-list .panel-content .idle img {
    display: none; }

/* ---------- Popup window ---------- */
.chat-portlet .chat-settings .settings {
  float: none; }
.chat-portlet .chat-settings li {
  border-bottom: 1px solid #999;
  clear: both;
  float: none;
  padding: 10px;
  position: static; }

.chat-settings label {
  font-weight: bold; }
.chat-settings input {
  vertical-align: middle; }
.chat-settings .ctrl-holder {
  padding: 10px; }
.chat-settings.saved .panel-trigger .trigger-name {
  background: url(@theme_image_path@/messages/success.png) no-repeat 0 0;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-top: 2px; }

.chat-status .status-message {
  margin: 5px;
  padding-left: 10px; }

.panel-window {
  background: #FFF;
  border: 1px solid #262626;
  font: 12px Tahoma, Geneva, sans-serif;
  min-width: 226px;
  max-width: 452px;
  position: relative; }

img.panel-icon {
  background: #333;
  border: 1px solid #000;
  display: block;
  height: 48px;
  left: 6px;
  position: absolute;
  top: 4px;
  width: 48px; }

.panel-title {
  background: #20272B;
  color: #F2F2F2;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  padding-right: 35px;
  text-indent: 60px; }

.respoke-bar {
  cursor: pointer;
  height: 40px;
  width: 40px; }
  .respoke-bar.video {
    background: url(../images/video_icon.png) left bottom;
    position: absolute;
    left: 10px;
    top: 6px; }
    .respoke-bar.video:hover {
      background-position: left top; }
  .respoke-bar.talk {
    background: url(../images/voice_chat_icon.jpg) left bottom;
    position: absolute;
    left: 135px;
    top: 6px; }
    .respoke-bar.talk:hover {
      background-position: left top; }
  .respoke-bar.screenshare {
    background: url(../images/screenshare_icon.png) left bottom;
    position: absolute;
    left: 75px;
    top: 6px; }
    .respoke-bar.screenshare:hover {
      background-position: left top; }

.panel-button {
  cursor: pointer;
  height: 12px;
  width: 12px; }
  .panel-button.close {
    background: url(../images/chat-close_button.png) left bottom;
    position: absolute;
    right: 4px;
    top: 6px; }
    .panel-button.close:hover {
      background-position: left top; }
  .panel-button.minimize {
    background: url(../images/chat-minimize_button.png) left bottom;
    position: absolute;
    right: 20px;
    top: 6px; }
    .panel-button.minimize:hover {
      background-position: left top; }

.buddy-list .panel-title, .chat-settings .panel-title {
  text-indent: 6px; }
.buddy-list .panel-button.minimize, .chat-settings .panel-button.minimize {
  right: 4px; }

.panel-profile {
  background: #EEE;
  border-bottom: 1px solid #CCC;
  height: 27px;
  padding-top: 5px;
  text-indent: 60px; }

.panel-output {
  border-bottom: 1px solid #000;
  height: 192px;
  overflow-y: scroll;
  padding: 2px;
  overflow-x: auto;
  word-wrap: break-word; }
  .panel-output .blurb {
    margin: 0;
    position: relative; }
  .panel-output .date, .panel-output .name {
    line-height: 11px;
    padding: 2px 4px 3px; }
  .panel-output .name {
    background: #828F95;
    color: #FFF;
    display: block;
    padding-right: 4.8em; }
  .panel-output .date {
    color: #EEE;
    font-size: 10px;
    font-style: normal;
    position: absolute;
    right: 0;
    top: 0; }
  .panel-output .incoming .name {
    background: #D3DADD;
    color: #555; }
  .panel-output .incoming .date {
    color: #555; }
  .panel-output .text {
    display: block;
    line-height: 14px;
    padding: 4px 8px 8px; }

.panel-input {
  border-top: 1px solid #369;
  height: 40px;
  position: relative; }
  .panel-input textarea.message-input {
    background: none;
    border-width: 0;
    bottom: 0;
    display: block;
    float: left;
    height: 14px;
    margin: 0;
    overflow: hidden;
    padding: 2px 0 2px 0;
    position: absolute;
    width: 100%; }

pre.chat-height-monitor {
  margin: 0;
  padding: 0; }

.chat-height-monitor, .panel-input textarea {
  font: 14px/16px Tahoma, Geneva, sans-serif; }

.panel-input textarea.focus, .ie6 .panel-input textarea.focus {
  background: #FFF;
  border-width: 0; }

.chat-height-monitor {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  left: -10000em;
  padding: 0;
  position: absolute;
  top: -10000em; }

.show-notifications-setting {
  display: none; }

.desktop-notifications .show-notifications-setting {
  display: block; }

/* ---------- Buddy service extensions ---------- */
.chat-bar .online-users .buddy-services {
  display: none;
  float: right;
  margin-top: 4px; }
.chat-bar .panel-content li:hover .buddy-services {
  display: block; }
.chat-bar .panel-content .name {
  float: left;
  max-width: 150px; }
.chat-bar .buddy-services div {
  background: transparent no-repeat;
  float: left;
  height: 16px;
  margin-right: 3px;
  width: 16px; }

/* ---------- Message waiting indicator (only background-color is used) ---------- */
.message-waiting {
  background-color: #A5D6EF; }

/* ---------- IE/IE6/IE7 ---------- */
.ie .buddy-list .panel-content .online-users li {
  width: 202px; }
.ie .panel-output {
  position: relative; }
.ie .chat-height-monitor {
  word-wrap: break-word;
  zoom: 1; }

.ie6 .buddy-list .search-buddies-field, .ie7 .buddy-list .search-buddies-field {
  width: 88%; }
.ie6 .panel-window, .ie7 .panel-window {
  min-width: auto;
  width: 226px; }

.ie6 .chat-bar {
  position: absolute; }
.ie6 .lfr-shim {
  border-width: 0;
  bottom: 0;
  position: absolute;
  z-index: 100; }

/* ---------- Extras ---------- */
.chat-bar div ul li.selected .panel-trigger {
  -webkit-border-radius: 0 4px;
  -moz-border-radius: 0 4px;
  -ms-border-radius: 0 4px;
  -o-border-radius: 0 4px;
  border-radius: 0 4px; }

.panel-window {
  -webkit-border-radius: 4px 4px 0 4px;
  -moz-border-radius: 4px 4px 0 4px;
  -ms-border-radius: 4px 4px 0 4px;
  -o-border-radius: 4px 4px 0 4px;
  border-radius: 4px 4px 0 4px; }

